@model List<TodoEntry>

<div class="body">
    <div class="today-secition">
        <h1 class="today-header">Heute </h1><p>@DateTime.Now</p>
       
        @{
            foreach(var item in Model.Where(todo => todo.EndDate < DateTime.Today))
            {
                <div>
                    <hr>
                    <h5 class="item-title"><a asp-route-id="@item.Id" asp-area="Customer" asp-controller="Home" asp-action="CheckTodo" class="fa-regular fa-circle-check check-button"></a>@item.Title</h5>
                </div>
            }
        }
    </div>
    <!--Soll einen auf und zu klappen button haben der sich dreht-->
    <div class="overtime-seciton">
        <h3 class="overtime-header">Überfällig</h3>

        @{
            foreach(var item in Model.Where(todo => todo.EndDate < DateTime.Today && todo.IChecked == false))
            {
                <div>
                    <hr>
                    <h5 class="overtime-item-header"><a asp-route-id="@item.Id" asp-area="Customer" asp-controller="Home" asp-action="CheckTodo" class="fa-regular fa-circle-check check-button"></a>@item.Title</h5>
                </div>
            }
        }
    </div>
    <div class="add-new-section">
        <i class="fa-solid fa-plus add-modal-button"></i><p>Aufgabe hinzufügen</p>
    </div>
</div>
