@model Todo.Models.ViewModels.NavBarViewModel;

@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    if (SignInManager.IsSignedIn(User))
    {
        <div class="navbar">
            <i class="fa-solid fa-bars hambuger-menu-button"></i>
            <i class="fa-solid fa-house home-button"></i>
            <i class="fa-solid fa-magnifying-glass search-bar-button"></i>
            <i class="fa-solid fa-plus add-modal-button"></i>
            <i class="fa-solid fa-check check-bar-button"></i>
            <!--<i class="fa-solid fa-bell"></i>-->
            <a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fa-solid fa-user"></i></a>
        </div>
        <div class="hamburger-menu-drop-down">
            <a asp-area="Admin" asp-controller="New" asp-action="Index"><i class="fa-solid fa-folder"></i>Eingang</a>
            <a asp-area="Customer" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-calendar-days"><p> @DateTime.Now.ToShortDateString()</p></i> Heute</a>
            <a asp-area="Admin" asp-controller="Future" asp-action="Index">Demnächst</a>
            <hr class="hamburger-menu-hr">
            <h5>Favoriten</h5>
            @{
                if(Model.LikedProjects != null)
                {
                    foreach (UserProject project in Model.LikedProjects)
                    {
                        <a asp-area="Admin" asp-controller="Project" asp-action="DetailProjectPartial" asp-route-id="@project.Id" class="project">- @project.Title</a>
                    }
                }
            }
            <h5>Projekte <span><i class="fa-solid fa-plus add-project-button"></i></span></h5>
            <div class="project-holder">
                @{
                    if (Model.Projects != null)
                    {
                        foreach (UserProject project in Model.Projects)
                        {
                            <div class="project-inner-holder">
                                <a asp-area="Admin" asp-controller="Project" asp-action="DetailProjectPartial" asp-route-id="@project.Id" class="project">- @project.Title </a>
                                <a hx-get="/Admin/Project/ProjectDetail?id=@project.Id" hx-target="#detail-page-project" hx-trigger="click" onclick="ShowModalProjectDetail()"><i class="fa-solid fa-sliders project-adjust-button"></i></a>
                                <a href="/Admin/Project/DeleteProject?id=@project.Id"><i class="fa-solid fa-trash project-settings-button"></i></a>
                            </div>

                        }
                    }
                }
            </div>
        </div>
        <div class="search-bar-header">
            <input id="inputQuery" type="text" />
            <i class="fa-solid fa-xmark"></i>

            <div id="SearchResults"></div>
        </div>
        <div id="add-modal">
        </div>
        <div id="checked-bar">
        </div>
    }
}

<div class="body container">
    @{
        if (SignInManager.IsSignedIn(User))
        {
            <div class="today-secition">
                <h1 class="today-header">Future </h1><p>@DateTime.Now.ToShortDateString()</p>
                <i class="fa-solid fa-angle-right today-toggle rotate-toggle"></i>
                <p class="today-entries-counter"></p>
                <div class="today-entries">
                    
                </div>

            </div>

            <div class="overtime-seciton">
                <h3 class="overtime-header">Überfällig</h3>
                <i id="overtime-toggle" class="fa-solid fa-angle-right ovetime-toggle"></i>
                <p class="over-time-entry-counter"></p>
                <div class="overtime-entries">
                    
                </div>

            </div>
        }
        else
        {

        }
    }
</div>